*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.kalkulator{
    width: 320px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10 20px rgba(0,0,0,0.1);
    padding: 20px;
}

.tampilan-kalkulator{
    height: 80px;
    background-color: #252525;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    margin-bottom: 20px;
}

.kalkulator-display{
    width: 100%;
    height: 100%;
    font-size: 36px;
    color: white;
    border: none;
    background-color: transparent;
    text-align:right;
    outline: none;
}

.kalkulator-kunci{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

button{
    height: 60px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    background-color: #eaeaea;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

button:hover{
    background-color: #d4d4d4;
}

.operator{
    background-color: #f1c40f;
}
.sama-dengan{
    background-color: #1e90ff;
    color: white;
}
.nol{
    grid-column: span 2;
}
.hapus-semua{
    background-color: #ff3b30;
    color: white;
}