body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.quotecont{
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow:  0 8px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 90%;
}
h1{
    font-size: 2.2em;
    color-scheme: #66525233;
    margin-bottom: 20px;
}
.quotebox{
    padding: 20px;
    margin: 20px 0;
    background-color: #e0f7fa;
    border-radius: 8px;
    box-shadow: 0 4px rgba(0,0,0,0.1);
}
#quote{
    font-size: 1.5em;
    color: #00796b;
    margin-bottom: 10px;
    
}
#author{
    font-size: 1.2em;
    color: #004d40;
    font-style: italic;
}
button{
    background-color: #00796b;
    color: #ffffff;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transform: background-color 0.3s ease;
}
button:hover{
    background-color: rgb(87, 174, 249);
}